<a href="https://colab.research.google.com/github/Vishalbangari/Prediction-of-Airline-tickets-using-ML/blob/main/Flight_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

file_id = '1Sv4ib5i7CKWhAHZkKg-uitIkS3xwxtXM'
downloaded = drive.CreateFile({'id': file_id})

In [ ]:
downloaded.GetContentFile('exported.xlsx')

In [ ]:
!ls -lha exported.xlsx

-rw-r--r-- 1 root root 3.6K Jun 28 12:44 exported.xlsx

In [ ]:
!pip install -q xlrd

In [ ]:
train_d =  pd.read_excel ('/content/drive/MyDrive/Ipynb & Csv & Zip Files/1..Flight_Price-->> Machine Learning/Data_Train.xlsx')

In [ ]:
train_d.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [ ]:
train_d.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [ ]:
train_d.shape

(10683, 11)

In [ ]:
train_d.dropna(inplace = True)

In [ ]:
train_d.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [ ]:
train_d.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [ ]:
train_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
dtypes: int64(1), object(10)
memory usage: 1001.4+ KB

In [ ]:
def change_into_datetime(col):
  train_d[col] = pd.to_datetime(train_d[col])

In [ ]:
for i in ['Date_of_Journey', 'Dep_Time','Arrival_Time']:
  change_into_datetime(i)

In [ ]:
train_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  datetime64[ns]
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  datetime64[ns]
 6   Arrival_Time     10682 non-null  datetime64[ns]
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
dtypes: datetime64[ns](3), int64(1), object(7)
memory usage: 1001.4+ KB

In [ ]:
train_d['journey_day'] = train_d['Date_of_Journey'].dt.day
train_d['journey_month'] = train_d['Date_of_Journey'].dt.month
train_d['journey_year'] =train_d['Date_of_Journey'].dt.year

In [ ]:
train_d.head()

       Airline Date_of_Journey  ... journey_month journey_year
0       IndiGo      2019-03-24  ...             3         2019
1    Air India      2019-01-05  ...             1         2019
2  Jet Airways      2019-09-06  ...             9         2019
3       IndiGo      2019-12-05  ...            12         2019
4       IndiGo      2019-01-03  ...             1         2019

[5 rows x 14 columns]

In [ ]:
train_d.drop('Date_of_Journey',axis = 1, inplace = True )

In [ ]:
train_d.head()

       Airline    Source Destination  ... journey_day journey_month journey_year
0       IndiGo  Banglore   New Delhi  ...          24             3         2019
1    Air India   Kolkata    Banglore  ...           5             1         2019
2  Jet Airways     Delhi      Cochin  ...           6             9         2019
3       IndiGo   Kolkata    Banglore  ...           5            12         2019
4       IndiGo  Banglore   New Delhi  ...           3             1         2019

[5 rows x 13 columns]

In [ ]:
def extract_hour(df,col):
    df[col+"_hour"]=df[col].dt.hour

def extract_min(df,col):
    df[col+"_minute"]=df[col].dt.minute

def drop_column(df,col):
    df.drop(col,axis=1,inplace=True)

In [ ]:
extract_hour(train_d,'Arrival_Time')
extract_min(train_d,'Arrival_Time')
drop_column(train_d,'Arrival_Time')

In [ ]:
extract_hour(train_d, 'Dep_Time')
extract_min(train_d, 'Dep_Time')
drop_column(train_d , 'Dep_Time')

In [ ]:
train_d.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'journey_day', 'journey_month',
       'journey_year', 'Arrival_Time_hour', 'Arrival_Time_minute',
       'Dep_Time_hour', 'Dep_Time_minute'],
      dtype='object')

In [ ]:
train_d.head()

       Airline    Source  ... Dep_Time_hour Dep_Time_minute
0       IndiGo  Banglore  ...            22              20
1    Air India   Kolkata  ...             5              50
2  Jet Airways     Delhi  ...             9              25
3       IndiGo   Kolkata  ...            18               5
4       IndiGo  Banglore  ...            16              50

[5 rows x 15 columns]

In [ ]:
duration=list(train_d['Duration'])

for i in range(len(duration)):
    if len(duration[i].split(' '))==2:
        pass
    else:
        if 'h' in duration[i]:                   
            duration[i]=duration[i] + ' 0m'   
        else:
            duration[i]='0h '+ duration[i]

In [ ]:
def hour(x):
    return x.split(' ')[0][0:-1]

In [ ]:
def minute(x):
    return x.split(' ')[1][0:-1]

In [ ]:
train_d['Duration_hours']=train_d['Duration'].apply(hour)

In [ ]:
train_d['Duration_mins']=train_d['Duration'].apply(minute)

IndexError: ignored